<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="../css/style.css" />
    <title>marketSpace | Dashboard</title>
</head>

<body>
    <main class="index-main">
        {{> _navbar}}
        <section class="main-content">

            <section class=" grid-7-5 administration-grid ">

                <div class="administration" id="content">
                    {{> _admin_nav}}

                    <div class="administration-content">
                        {{> _alerts}}
                        <form action="/dashboard/basic-info/{{loggedIn._id}}?_method=PUT" method="POST">
                            <p class="u-divider-text">Basic Info</p>
                            <div class="u-divider--primary"></div>
                            <div class="form__group">
                                <input class="form__input" type="text" placeholder="Shop Name" id="name" name="name"
                                    value="{{loggedIn.name}}" required spellcheck="false"
                                    style="text-transform: capitalize;" />
                                <label class="form__label" for="name"><i class="icon-ecommerce-bag"></i> Shop
                                    Name</label>
                            </div>

                            <div class="form__group">
                                <input class="form__input" type="email" placeholder="Email" id="email" name="email"
                                    spellcheck="false" value="{{loggedIn.email}}" />
                                <label class="form__label" for="email"><i class="icon-ecommerce-bag"></i> Email</label>
                            </div>

                            <div class="form__group">
                                <input class="form__input" type="tel" placeholder="Phone" id="phone" name="phone"
                                    required value="{{loggedIn.phone}}" />
                                <label class="form__label" for="phone">
                                    <i class="icon-basic-tablet"></i> Phone</label>
                            </div>

                            <div class="form__group">
                                <select class="form__select" id="category" name="category"
                                    style="text-transform: capitalize;">
                                    {{#if loggedIn.category}}
                                    <option value="{{loggedIn.category}}">
                                        {{loggedIn.category}}
                                    </option>
                                    {{else}}
                                    <option value="" selected disabled>
                                        Category
                                    </option>
                                    {{/if}}

                                    <option value="accessories">Accessories</option>
                                    <option value="appliances">Appliances</option>
                                    <option value="clothing">Clothing</option>
                                    <option value="education">Education</option>
                                    <option value="fashion">Fashion</option>
                                    <option value="games">Games</option>
                                    <option value="health">Health</option>
                                    <option value="food">Food</option>
                                    <option value="music">Music</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <p class="u-divider-text">About Shop</p>
                            <div class="u-divider--primary"></div>
                            <div class="form__group">
                                <textarea class="texts-input form__input" name="about_shop" id="about-shop" cols="30"
                                    rows="5" placeholder="Tell us about your shop" maxlength="120"
                                    spellcheck="false">{{loggedIn.about}}</textarea>
                                <label for="about-shop" class="form__label" id="about-shop-label"></label>
                            </div>

                            <div class="social_links" style="margin: 2rem 0">
                                <p class="u-divider-text">Social Links</p>
                                <div class="u-divider--primary"></div>
                                <input class="texts-input form__input" type="text" name="facebook" id="facebook"
                                    placeholder="Facebook" value="{{loggedIn.facebook}}" />
                                <label for="facebook" class="form__label">Facebook</label>

                                <input class="texts-input form__input" type="text" name="twitter" id="twitter"
                                    placeholder="Twitter" value="{{loggedIn.twitter}}" />
                                <label for="twitter" class="form__label">Twitter</label>

                                <input class="texts-input form__input" type="text" name="instagram" id="instagram"
                                    placeholder="Instagram" value="{{loggedIn.instagram}}" />
                                <label for="instagram" class="form__label">Instagram</label>
                            </div>

                            <button type="submit" class="btn btn-primary btn--block" id="button">
                                <i class="icon-ecommerce-bag"></i> Update Basic Info
                            </button>
                        </form>
                    </div>
                    -->
                </div>

                <div id="preview" class="administration-preview">
                    <div class="preview-pointer pointer-left" id="pointer-left">
                        <p>&larr;</p>
                    </div>
                    <header class="preview-header" id="preview-header">
                        <p class="preview-logo" id="preview-logo">Test Shop</p>
                        <img src="../img/feature-1.jpeg" alt="image-1" id="preview-image"
                            class="preview-image preview-image--1" draggable="false" />
                        <div class="preview-overlay"></div>
                        <div class="preview-header-texts">
                            <p class="preview-mainText" id="main-text-placeholder-1"></p>
                            <p class="preview-subText" id="sub-text-placeholder-1"></p>
                        </div>
                    </header>
                    <div class="preview-about" id="preview-about">
                        <div class="card">
                            <div class="grid-2">
                                <div class="preview-about-text">
                                    <h2 class="preview-heading">About Us.</h2>
                                    <p id="preview-about-placeholder"></p>
                                    <a href="" class="preview-btn">Read More</a>
                                </div>
                                <div class="preview-image">
                                    <img src="../img/hero.jpeg" alt="" id="about-preview-image" draggable="false" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>


        </section>
    </main>


    <script src="/js/dashboard.js"></script>

</body>

</html>