<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/ecommerce.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <title>{{loggedIn.slug}} | Sales</title>
</head>

<body>
    <main class="index-main">
        {{> _navbar}}
        <section class="main-content sales-content">




            <div class="sale-content">
                <div class="u-margin-bottom--large">
                    {{> _alerts}}
                    <h3 class="u-heading--large">Manage your shop.</h3>
                    <div class="u-divider"></div>
                </div>
                <div class="u-margin-bottom--large">
                    <h2 class="u-heading--tertiary">
                        <i class="icon-ecommerce-bag"></i>YOUR ORDERS.
                    </h2>

                    <table>
                        <thead>
                            <th><i class="fas fa-user"></i></th>
                            <th><i class="fab fa-opencart"></i></th>
                            <th><i class="fas fa-map-marker-alt"></i></th>
                            <th><i class="fas fa-mobile-alt"></i></th>
                            <th><i class="fab fa-first-order"></i></th>
                            <th><i class="fas fa-clock"></i></th>
                        </thead>

                        {{#each product}}
                        {{#each orders}}
                        <tbody>
                            <td> <strong>{{name}}</strong> </td>
                            <td>{{product_name}}</td>

                            <td>{{location}}</td>
                            <td><a href="tel:{{phone}}">View</a></td>
                            <td>
                                {{#if new}}
                                <a href="/payment/{{_id}}/formatorder?_method=PUT" class="u-alert"><i
                                        class="fas fa-circle fa-3x" style="color: orangered;"></i></a>
                                {{else}}
                                <i class="fas fa-check" style="color: rgb(98, 255, 98);"></i>
                                {{/if}}
                            </td>
                            <td>{{formatDate orderedAt}}</td>

                        </tbody>
                        {{/each}}




                        {{/each}}
                    </table>
                </div>

                <div class="u-margin-bottom--large">
                    <h2 class="u-heading--tertiary">
                        <i class="icon-ecommerce-bag"></i>YOUR LISTED PRODUCTS.
                    </h2>
                    {{#if product}}
                    <table>
                        <thead>
                            <th><i class="fab fa-opencart"></i></th>
                            <th><i class="fas fa-camera-retro"></i></th>
                            <th><i class="fas fa-tags"></i></th>
                            <th><i class="fas fa-clock"></i></th>
                            <th><i class="far fa-edit"></i></th>
                        </thead>

                        {{#each product}}

                        <tbody>

                            <td data-product-id="{{_id}}" class="product-name"><strong>{{name}}</strong></td>
                            <td>
                                <a href="{{mainPhoto}}" data-lightbox="{{_id}}">View</a>
                            </td>
                            <td><strong>{{formatNum price}}</strong> </td>
                            <td>{{formatDate addedAt}}</td>
                            <td>
                                <a href="/dashboard/edit/{{_id}}/" style="color: rgb(62, 62, 224);"><i
                                        class="fas fa-pencil-alt"></i></a> |
                                <a href="/dashboard/delete/{{_id}}?_method=DELETE" style="color: orangered;"
                                    class="delete-product" data-delete-id="{{_id}}"><i class="fas fa-trash-alt"></i></a>
                            </td>

                        </tbody>
                        {{/each}}

                    </table>
                    {{else}}
                    <p class="u-alert" style="margin-top: 2rem;">No Products Added Yet

                    </p><a href="/dashboard/{{loggedIn.slug}}/add-product/">
                        Add Product
                    </a>
                    {{/if}}


                </div>

                <div class="sale-danger">
                    <h2 class="u-heading--secondary u-margin-bottom--medium" style="color: #f06467">
                        Close your shop ?
                    </h2>

                    <a href="" class="btn btn-danger" id="showModal">DELETE
                        SHOP </a>

                    <div class="popup" id="popup">
                        <div class="popup-content" id="popup-content">
                            <h2 class=" u-margin-bottom--medium">Sure about this?</h2>
                            <div>

                                <p class="alert-warning u-margin-bottom--medium" style="padding:2rem 1rem">
                                    You are about to delete your shop.
                                    This action is irreversible</p>
                            </div>

                            <a href="/dashboard/{{loggedIn._id}}/delete?_method=DELETE" class='u-alert'>DELETE
                                SHOP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 25vh"></div>
            {{> _footer}}
        </section>
    </main>

    <script src="/js/lightbox-plus-jquery.js"></script>
    <script>
        const showModal = document.getElementById("showModal");
        const popup_content = document.querySelectorAll(".popup-content");
        const popup = document.querySelector("#popup");
        const deletePopup = document.querySelector("#deletePopup");
        const delete_product = document.querySelectorAll('.delete-product');

        const show = function (handler, ID, placeholder) {
            handler.addEventListener("click", (e) => {
                e.preventDefault();
                ID.style.opacity = 1;
                ID.style.visibility = "visible";

                placeholder.style.transform = "translate(-50%,-50%) scale(1)";
                placeholder.style.opacity = 1;
            });
        };

        const hide = function (handler, ID, placeholder) {
            handler.addEventListener("click", (e) => {
                if (e.target.className == "popup") {
                    ID.style.opacity = 0;
                    ID.style.visibility = "hidden";

                    placeholder.style.transform = "translate(-50%,-50%) scale(0.5)";
                    placeholder.style.opacity = 0;
                }
            });
        };

        popup_content.forEach((content) => {

            content.style.transform = "translate(-50%,-50%) scale(0.5)";
            content.style.opacity = 0;

            show(showModal, popup, content);

            hide(popup, popup, content);
        });

        delete_product.forEach(icon => {
            show(icon, popup, popup_content)
        })


    </script>
</body>

</html>