<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/ecommerce.css" />

    <title>marketSpace | All Shops</title>
</head>

<body>
    <main class="index-main">
        {{> _navbar}}
        <section class="main-content">
            <div class="u-flex shops__nav">
                <div class="shops__logo">All Shops</div>
                <form action="/shops" method="GET" class="shops__form">
                    <div class="form__group shop-select-form">
                        <select class="form__select" id="category" name="search">
                            <option value="" selected disabled>
                                Filter shops by category
                            </option>
                            <option value="accessories">Accessories</option>
                            <option value="appliances">Appliances</option>
                            <option value="clothing">Clothing</option>
                            <option value="education">Education</option>
                            <option value="fashion">Fashion</option>
                            <option value="games">Games</option>
                            <option value="health">Health</option>
                            <option value="food">Food</option>
                            <option value="music">Music</option>
                            <option value="other">Other</option>
                        </select>

                        <button type="submit" class="search-btn">Filter</button>


                    </div>
                </form>

            </div>
            <div class="shops-content">
                <div class="shops-content__text u-margin-bottom--medium">
                    <h2 class="u-heading--large u-margin-bottom--medium">
                        <i class="icon-ecommerce-bag"></i>View All Stores
                    </h2>

                    <p>
                        You can view over 100+ shops by the just the click of a button.
                    </p>
                </div>


                <div class="shops__category u-margin-bottom--medium">

                    {{#if shops}}
                    <div class="grid-3 grid-to-2">

                        {{#each shops}}

                        <div class="card shop__card shop">
                            <img src="{{mainPhoto}}" class="shop__image" alt="shop-1" />

                            <h2 class="shop__name">
                                {{name}}
                            </h2>
                            <div class="shop__description">
                                <div class="category" style="color: orangered;"> <i class="icon-ecommerce-bag"></i>
                                    {{category}}</div>

                                <p>
                                    {{about}}
                                </p>

                                <a href="/store/{{slug}}" class="btn btn-block btn-primary shop__link">Visit Store</a>
                            </div>
                        </div>

                        {{/each}}
                    </div>
                    {{else}}
                    <p class="u-heading--large u-center-text">No shop {{searchValue}} found</p>
                    {{/if}}
                </div>

                <div>
                    {{#if shops}}

                    {{#if pagination.next}}
                    {{#if searchValue}}
                    <a href="/shops?search={{searchValue}}&page={{pagination.next.page}}" class="btn btn-primary">Next
                        &rarr;</a>


                    {{else}}
                    <a href="/shops?page={{pagination.next.page}}" class="btn btn-primary">Next &rarr;</a>
                    {{/if}}

                    {{/if}}

                    {{/if}}


                    {{#if shops}}

                    {{#if pagination.prev}}

                    {{#if searchValue}}
                    <a href="/shops?search={{searchValue}}&page={{pagination.prev.page}}" class="btn btn-primary">&larr;
                        Previous</a>

                    {{else}}
                    <a href="/shops?page={{pagination.prev.page}}" class="btn btn-primary">&larr; Previous</a>
                    {{/if}}

                    {{/if}}

                    {{/if}}
                </div>



            </div>
        </section>
    </main>
</body>

</html>